.container {
  width: 70%;
  margin: auto;
  text-align: center;
  background-color: black;
}

.dice {
  text-align: center;
  display: inline-block;
  width: 256px;

}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 red;
  font-size: 6rem;
  color: white;
}

p {
  font-size: 2rem;
  color: red;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: black;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
